/*SUNY Old Westbury Web Radio CSS || Created by Chris Thomas*/
html {background:#FFFFFF url(/*https://market.android.com/static/client/images/app-header-stripes.gif*/) fixed;}

body {background:#FFFFFF; margin:0 auto; padding:0 auto; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#333; width:800px;}

img {border:0; vertical-align:top;}

a:link, a:visited {color: #060; text-decoration: none;}
a:hover {text-decoration: underline; color: #060;}

.footer {margin:10px auto; padding:5px 0 30px 0; border-top:1px solid #CCCCCC;}
.lfooter {text-align:left; float:left;} .rfooter {text-align:right; float:right;}

.header {background:url(images/header.gif) no-repeat; height:300px;}

.note {text-align:center; font-weight:bold;}

table,td,th {vertical-align:top;}
.span1 {width:300px; text-align:center;} .span2 {width:500px; text-align:center;}